@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}


body{
  background-color: white;
  color: black;
}
.nav-link {
  color: white; /* Initial text color */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 600; /* Adjust font weight as needed */
  font-family: 'Manrope', sans-serif; /* Use your desired font */
  text-decoration: none; /* Remove default underline */
  margin-right: 13px; /* Adjust spacing between links as needed */
  transition: color 0.3s, border-bottom-color 0.3s; /* Transition effect */
  border-bottom: 2px solid transparent; /* Initial bottom border */
}

.icon {
  color: white; /* Initial text color */
 
}
.nav-link:hover {
  color: black; /* Text color on hover */
  border-bottom-color: black; /* Bottom border color on hover */
}


/* Thin scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575; /* Color of the scrollbar handle on hover */
}
